body {
    font-family: Arial, sans-serif;
    text-align: center;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container button{
    max-width: 100px;
    margin-top: 20px;
    background-color: cornflowerblue;
}

.container button:hover{
    cursor: pointer;
    background-color: gray;
}

#sopa-letras {
    margin: 20px auto;
}

#sopa-letras table {
    border-collapse: collapse;
}

#sopa-letras table td {
    border: 1px solid black;
    width: 30px;
    height: 30px;
    text-align: center;
}

td, span {
    cursor: pointer;
    user-select: none;
}

#loading {
    display: none;
}

#loading img {
    width: 100px;
    height: auto;
}

.configuracion{
    display: flex;
    flex-direction: column;
}

.configuracion label{
    margin-top: 10px;
}